<footer>
  <!--Waves Container-->
<div id="footer_section">
  <svg class="waves"
  viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
  <defs>
  <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
  </defs>
  <g class="parallax">
  <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(175, 209, 152, 0.7)" />
  <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(175, 209, 152, 0.5)" />
  <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(175, 209, 152, 0.3)" />
  <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(175, 209, 152, 1)" />
  </g>
  </svg>
  </div>
  <!--Waves end-->
  <div class="content flex">
    <p class="footer_text">Webdesign by Linda Wyden masonry</p>
  </div>

</footer>
<!-- bootstrap -->
  <script src="/js/bootstrap.bundle.min.js"></script>
<!-- masonry -->
<script src="https://unpkg.com/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"></script>
<script src="/js/masonry.js"></script>
</body>
</html>