<%- include('partials/header.ejs') %>
<div id="gallery_section">
  <div class="image-grid">
    <div class="image-item">
      <img
        src="/images/gallery/alp.jpg"
        onclick="openModal();currentSlide(1)"
        alt="Auf dem Weg auf die Alp"
      />
    </div>
    <div class="image-item">
      <img src="/images/gallery/dächimatte winter.jpg" alt="Image 2" />
    </div>
    <div class="image-item">
      <img src="/images/gallery/dächimatte.jpg" alt="Image 3" />
    </div>
    <div class="image-item">
      <img src="/images/gallery/esther auf hof.jpg" alt="Image 4" />
    </div>
    <div class="image-item">
      <img src="/images/gallery/galloway auf weide.jpg" alt="Image 5" />
    </div>
    <div class="image-item">
      <img src="/images/gallery/galloway kuh.jpg" alt="Image 6" />
    </div>
    <div class="image-item">
      <img src="/images/gallery/galloway mit kalb.jpg" alt="Image 7" />
    </div>
    <div class="image-item">
      <img src="/images/gallery/gwudnernase.jpg" alt="Image 8" />
    </div>
  </div>
</div>
<%- include('partials/footer.ejs') %>
