/* Gallery */

#gallery_title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.image-grid {
  display: grid;
  gap: 10px; /* Abstand zwischen den Bildern */
  width: 90%;
  margin: auto;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-flow: dense; /* Automatische Platzierung der Elemente */
}
/* Ein Spalte auf Handygröße */
@media (max-width: 600px) {
  .image-grid {
    grid-template-columns: 1fr;
  }
}

/* Zwei Spalten auf Tablet-Bildschirmen */
@media (min-width: 601px) and (max-width: 992px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Vier Spalten auf Laptops und großen Monitoren */
@media (min-width: 993px) {
  .image-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Passt die Bildhöhe automatisch an den Inhalt an */
.image-item {
  overflow: hidden;
  transition: 0.3s;
}

.image-item:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-item img {
  width: 100%;
  height: auto; /* Beibehaltung der Originalbildgröße */
  display: block;
  object-fit: cover;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1200px;
  justify-content: center;
}

.grid-item {
  width: calc(33.333% - 20px);
  margin-bottom: 15px;
}

.grid-item img {
  width: 100%;
  display: block;
  border-radius: 8px;
  cursor: pointer;
}

@media (max-width: 992px) {
  .grid-item {
    width: calc(33.333% - 20px);
  }
}

@media (max-width: 768px) {
  .grid {
    padding: 0 10px;
    
  }
  .grid-item {
    width: calc(50% - 20px); 
    max-width: 400px; 
    margin: 0 auto 15px; /* GEÄNDERT: Zentriert das Grid-Element und fügt unten Abstand hinzu */
  }
}

/* Lightbox container */

.lightbox {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Image inside the lightbox */
.lightbox-content {
  max-width: 90%;
  max-height: 80%;
  display: block;
  margin: auto;
  border-radius: 8px;
}

/* Close button */
.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

/* Navigation arrows */
.prev,
.next {
  position: absolute;
  top: 50%;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
  padding: 10px;
  text-decoration: none;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.prev {
  left: 30px;
}

.next {
  right: 30px;
}