body {
    font-family: 'Baloo Chettan 2', cursive;
    margin: 0;
}

p, h3 {
    text-align: center;
}

h1 {
  font-size: 3.5rem;
}


.linkOnGreen {
    color: #fefefd;
    font-size: 1.5rem;
}

.linkOnGreen:hover {
    color: #666666;
}

.greenScheme {
    background-color: #AFD198;
}

.title_img {
    width: 70%;
}

img {
    max-width: 100%;
}

* {
    transition: ease all 0.5s;
}

/* Title section start */ 

#title_section {
    width: 100%;
    float: left;
    padding: 50px 0px 80px 0px;
    height: auto;
}

.title_text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: bold;
    font-family: 'Baloo Chettan 2', cursive ;
    margin-bottom: 0px;
}

.text-center {
    padding: 0;
}

.layout_padding {
    padding-bottom: 0px;
}

/* Title section end */



/* carousel css */

#product_section {  
    width: 100%;
    float: left;
    padding-top: 3rem;
    padding-bottom: 3rem;
    height: auto;
}

.remove_padding {
    padding: 0;
}

.remove_margin {
  margin: 0;
}

.product_title {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    color: #060606;
    font-weight: bold;
    font-family: 'Baloo Chettan 2', cursive;
    padding-bottom: 40px;
    margin-bottom: 0;
}

.product_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.product_card h3 {
  margin: 20px 0 20px 0;
}

.readmore_btn {
    width: 170px;
}

.readmore_btn a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #fefefd;
    background-color: #AFD198;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}

.readmore_btn a:hover {
    background-color: #DBA979;
}

.hover01 figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover01 figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.readmore_btn.active a {
    color: #fefefd;
    background-color: #DBA979;
}

figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px;
}

figure:hover+span {
    bottom: -36px;
    opacity: 1;
}


/* Waves */
  
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px;
    min-height:100px;
    max-height:150px;
  }
  
  .content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: rgba(175, 209, 152, 1);
  }
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height: 30vh;
    }
  }

.footer_text {
    color: white;
    font-size: 1.25rem;
}


@media (max-width: 991px) {
  #title_section {
    padding-top: 50px;
    height: 70vh;  
  }
}

@media (max-width: 766px) {
  #title_section img {
    width: 90%;
  }
  #title_section {
    height: auto;
    padding-bottom: 40px;
  }
  .title_text {
    font-size: 2.5rem;
  }

  h1 {
    font-size: 2rem;
  }
}